h1 {
    margin: auto;
    width: 50%;
    padding: 10px 25px;
    font-size: 36px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.search-container {
    box-sizing: border-box;
    padding: 40px;
    text-align: center;
    width: 100%;
}

.output {
    text-align: center;
}

#city {
    background-color: white;
}

input::placeholder{
    font-weight: bold;
    color: blue;
}